<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sendmail With Hooks - Template</title>
</head> 
<body> 
    <h3>Hi {$name$},</h3>  
    <p>We have successfully received your message.
    <p>We will respond within 24 hours to your request.<br> Follows below as organized information. </p>
    <br>We appreciate your attention and preference.</p>
    <h4>Applicant Information</h4>
    <p>NAME: {$name$} <br>EMAIL: {$email$} <br> SUBJECT: {$subject$}</p>
    <br><br>
   <img src="https://i.ibb.co/SBqzC0f/mark.jpg" alt="logo"
        style="width: 100%;">  
    <div>Copyright &#169; 2021 LETICIA LIMA. All&nbsp;rights&nbsp;reserved.</div>
    <div>https://leticialima.vercel.app/</div> 
</body>
</html> 