
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" /> 
    <title>Sendmail Simple - Template</title>
</head> 
<body>
    <div>  
        <h3>Hello {$name$},</h3>
        <p>We have successfully received your message.
        <p>We will respond within 24 hours to your request.
            <br> Below is the information filled in.
        </p>
        <br>We appreciate your attention and preference.</p>
        <br>
        <br>
        <h4>Applicant Information</h4>
        <p>NAME: {$name$}
            <br>EMAIL: {$email$}
            <br>SUBJECT: {$subject$}
            <br>MESSAGE: {$message$}
        </p>
    </div>
</body>
